In [309]:
import pandas as pd
import numpy as np
import math

In [310]:
def sort_dataframe(song_df):
        song_df.sort_values(['title', 'artist_name'], ascending=True, ignore_index=True, inplace=True)
        return song_df

In [311]:
def get_alpha_dict(sorted_song_df):
        alpha = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L','M',\
                 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

        index_dict = { a : sorted_song_df['title'].str.startswith(a).idxmax() for a in alpha }
        index_dict['*'] = sorted_song_df.index[-1]
        return index_dict

In [312]:
data = {
    'title' : ['Aa', 'Ba', 'Ca', 'Da', 'Ea', 'Fa', 'Ga', 'Ha', 'Ia', 'Ja', 'Ka', 'La','Ma','Na', 'Oa', 'Oa', 'Pa', 'Qa', 'Ra', 'Sa', 'Ta', 'Ua', 'Va', 'Wa', 'Xa', 'Ya', 'Za', '¿a'],
    'artist_name' : ['Aa', 'Ba', 'Ca', 'Da', 'Ea', 'Fa', 'Ga', 'Ha', 'Ia', 'Ja', 'Ka', 'La','Ma','Na', 'Oa','mm', 'Pa', 'Qa', 'Ra', 'Sa', 'Ta', 'Ua', 'Va', 'Wa', 'Xa', 'Ya', 'Za', 're']
}

In [313]:
df = pd.DataFrame(data)

In [314]:
sorted_df = sort_dataframe(df)

In [315]:
sorted_df

   title artist_name
0     Aa          Aa
1     Ba          Ba
2     Ca          Ca
3     Da          Da
4     Ea          Ea
5     Fa          Fa
6     Ga          Ga
7     Ha          Ha
8     Ia          Ia
9     Ja          Ja
10    Ka          Ka
11    La          La
12    Ma          Ma
13    Na          Na
14    Oa          Oa
15    Oa          mm
16    Pa          Pa
17    Qa          Qa
18    Ra          Ra
19    Sa          Sa
20    Ta          Ta
21    Ua          Ua
22    Va          Va
23    Wa          Wa
24    Xa          Xa
25    Ya          Ya
26    Za          Za
27    ¿a          re

In [316]:
alpha_dict = get_alpha_dict(sorted_df)
alpha_dict

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9,
 'K': 10,
 'L': 11,
 'M': 12,
 'N': 13,
 'O': 14,
 'P': 16,
 'Q': 17,
 'R': 18,
 'S': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26,
 '*': 27}

In [317]:
def get_index_song(title, artist,sorted_df,alpha_dict):

    title, artist = title.upper(), artist.upper()

    if (title[0] in alpha_dict.keys() ) and (title[0] != 'Z') :
        start_idx = alpha_dict[title[0]]
        end_idx = min([ idx for idx in alpha_dict.values() if idx>start_idx]+[math.inf])
    else :
        start_idx = alpha_dict['Z']
        end_idx = alpha_dict['*'] + 1

    small_df = sorted_df.iloc[start_idx:end_idx]
    s_df = small_df.copy()
    s_df.loc[:, 'title'] = s_df['title'].str.upper()
    s_df.loc[:, 'artist_name'] = s_df['artist_name'].str.upper()

    idx = s_df.loc[(s_df['title'] == title) & (s_df['artist_name'] == artist)].index
    if idx.empty :
        print("Song not found")
        return -1
    
    return idx.to_list()[0]

In [321]:
get_index_song('¿a', 're',sorted_df, alpha_dict)

27