# Song recommender project #

 Garcinu√±o Feliciano Angela <br>
 Huima Klaara <br>
 Massot Lucas

In [1]:
import pandas as pd
import numpy as np
import build
import random
import buildEncoder

2024-06-04 22:24:53.687194: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-06-04 22:24:55.140307: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-06-04 22:24:55.140444: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-06-04 22:24:55.404810: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-06-04 22:24:55.912731: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-06-04 22:24:59.389268: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df, term_index = buildEncoder.load_data('output.csv')

In [3]:
def recommend(song_list: list, df: pd.core.frame.DataFrame, k: int, encoder, term_index, hot_data, distance_matrix = None):
    #print(song_list)
    playlist, indexes = buildEncoder.format_input(song_list, df)
    print("input formatted")
    if isinstance(distance_matrix, type(None)):
        distances, total_d = buildEncoder.compute_distance_to_playlist(playlist, indexes, hot_data, encoder)
    else:
        print("computing distances to playlist...")
        distances, total_d = buildEncoder.select_distance_to_playlist(playlist, indexes, distance_matrix)    
    print("distances computed")
    display(pd.DataFrame(distances))
    output_df = buildEncoder.get_k_recommendations(total_d, k, df)
    print("received recommendations")
    display(output_df)
    return distances, total_d

In [4]:
hot_data, encoder = buildEncoder.build_encoder(df, term_index, tuning = False)

"""
playlists = []
indexes = []
for i in range(10):
    index = [i*1000 + j for j in range(1000)]
    playlist = [hot_data[i*1000 + j] for j in range(1000)]
    playlists.append(playlist)
    indexes.append(index)
"""

2024-06-04 22:25:23.996308: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.013071: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.013182: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.015235: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.015323: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.015376: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.055251: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.055323: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.055372: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-06-04 22:25:24.055417: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 14260 MB memory:  -> device: 0, name: NVIDIA RTX A4000, pci bus id: 0000:01:00.0, compute capability: 8.6

Epoch 1/10

2024-06-04 22:25:25.419739: I external/local_xla/xla/service/service.cc:168] XLA service 0x7efac8a4ec80 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2024-06-04 22:25:25.419784: I external/local_xla/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA RTX A4000, Compute Capability 8.6
2024-06-04 22:25:25.463521: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-06-04 22:25:25.557727: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:454] Loaded cuDNN version 8902
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1717532725.650383 3761472 device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

250/250 [==============================] - 3s 4ms/step - loss: 0.0391 - val_loss: 0.0276
Epoch 2/10
250/250 [==============================] - 1s 4ms/step - loss: 0.0247 - val_loss: 0.0226
Epoch 3/10
250/250 [==============================] - 1s 4ms/step - loss: 0.0215 - val_loss: 0.0206
Epoch 4/10
250/250 [==============================] - 1s 4ms/step - loss: 0.0201 - val_loss: 0.0196
Epoch 5/10
250/250 [==============================] - 1s 4ms/step - loss: 0.0193 - val_loss: 0.0190
Epoch 6/10
250/250 [==============================] - 1s 2ms/step - loss: 0.0188 - val_loss: 0.0186
Epoch 7/10
250/250 [==============================] - 1s 3ms/step - loss: 0.0183 - val_loss: 0.0180
Epoch 8/10
250/250 [==============================] - 1s 3ms/step - loss: 0.0178 - val_loss: 0.0177
Epoch 9/10
250/250 [==============================] - 1s 3ms/step - loss: 0.0172 - val_loss: 0.0170
Epoch 10/10
250/250 [==============================] - 1s 4ms/step - loss: 0.0166 - val_loss: 0.0163

'\nplaylists = []\nindexes = []\nfor i in range(10):\n    index = [i*1000 + j for j in range(1000)]\n    playlist = [hot_data[i*1000 + j] for j in range(1000)]\n    playlists.append(playlist)\n    indexes.append(index)\n'

In [5]:
# TEST
n = 1
#input = [[str(data.iloc[j]['title']), str(data.iloc[j]['artist_name'])] for j in random.sample(range(len(data)), n)]   # input of song titles
songs= [3066, 6017, 2919, 4779, 9436, 4695, 1235, 8521, 7851]
#[4292,5965,7390]
unsorted_df = build.load_data("output.csv")
input = [[str(unsorted_df.iloc[i]['title']), str(unsorted_df.iloc[i]['artist_name']),str(unsorted_df.iloc[i]['release'])] for i in songs]
k = 10 #number of song recomendations
# Computing complete distance matrix

display(pd.DataFrame(input))
#distance_matrix = pd.DataFrame(build.build_distances(data))
#recommend(input, data, k, distance_matrix)

print("encoder is done")
# Computing only distance to playlist
distances, total_d = recommend(input, df.copy(), k, encoder, term_index, hot_data)

,0,1,2
0,London Bridge,Fergie,London Bridge
1,Valerie,Amy Winehouse,ESSENTIAL 08
2,Ring The Alarm,Beyonc√©,Ring The Alarm (Urban Mixes)
3,Ring The Alarm,Beyonc√©,The Beyonce Experience Live Audio
4,Ring The Alarm,Naughty By Nature,Nineteen Naughty Nine Nature's Fury
5,Single Ladies (Put A Ring On It),Beyonc√©,Single Ladies (Put A Ring On It) - Dance Remixes
6,Good Girl Gone Bad,Rihanna,Good Girl Gone Bad: The Remixes
7,Good Girl Gone Bad,Rihanna,Good Girl Gone Bad: Reloaded
8,Oops!...I Did It Again,Britney Spears,The Singles Collection

encoder is done
input formatted
M:  0
M:  100
M:  200
M:  300
M:  400
M:  500
M:  600
M:  700
M:  800
M:  900
M:  1000
M:  1100
M:  1200
M:  1300
M:  1400
M:  1500
M:  1600
M:  1700
M:  1800
M:  1900
M:  2000
M:  2100
M:  2200
M:  2300
M:  2400
M:  2500
M:  2600
M:  2700
M:  2800
M:  2900
M:  3000
M:  3100
M:  3200
M:  3300
M:  3400
M:  3500
M:  3600
M:  3700
M:  3800
M:  3900
M:  4000
M:  4100
M:  4200
M:  4300
M:  4400
M:  4500
M:  4600
M:  4700
M:  4800
M:  4900
M:  5000
M:  5100
M:  5200
M:  5300
M:  5400
M:  5500
M:  5600
M:  5700
M:  5800
M:  5900
M:  6000
M:  6100
M:  6200
M:  6300
M:  6400
M:  6500
M:  6600
M:  6700
M:  6800
M:  6900
M:  7000
M:  7100
M:  7200
M:  7300
M:  7400
M:  7500
M:  7600
M:  7700
M:  7800
M:  7900
M:  8000
M:  8100
M:  8200
M:  8300
M:  8400
M:  8500
M:  8600
M:  8700
M:  8800
M:  8900
M:  9000
M:  9100
M:  9200
M:  9300
M:  9400
M:  9500
M:  9600
M:  9700
M:  9800
M:  9900
distances computed

,0,1,2,3,4,5,6,7,8
0,3.396443,3.137364,3.094093,3.089445,3.578974,3.114125,2.875184,2.874434,2.662223
1,2.063978,2.079514,1.794478,1.795401,2.204933,1.806820,2.846200,2.836250,2.010191
2,2.161278,1.849189,2.198060,2.206473,2.284221,2.195737,2.904153,2.891037,2.564054
3,2.999595,1.969099,2.466691,2.456418,3.344428,2.476066,2.686213,2.682047,2.608156
4,1.925079,1.903048,1.823728,1.822602,2.203059,1.831954,2.832692,2.822048,2.020169
...,...,...,...,...,...,...,...,...,...
9994,1.708476,2.666788,2.027132,2.041766,0.965023,2.024031,3.571716,3.558631,2.011112
9995,2.124393,2.961268,2.433059,2.452408,1.125230,2.427933,4.009346,3.995644,2.615299
9996,1.850932,2.655864,2.172228,2.190703,0.865247,2.167554,3.777873,3.763846,2.460180
9997,1.848348,2.548393,2.137949,2.155389,0.952318,2.134370,3.661749,3.648109,2.371217
9998,1.747640,1.828330,1.726154,1.741393,1.851164,1.721838,2.969941,2.956228,2.040937

received recommendations

,artist_name,title,release,total distance
824,BEYONC√â,BE WITH YOU,DANGEROUSLY IN LOVE,10.832702
7408,CARROLL THOMPSON,SHOW SOME LOVE WHERE IS THE LOVE FEAT. MACKAB,THE OTHER SIDE OF LOVE,12.318047
4906,NOFX,LINOLEUM (LIVE),I HEARD THEY SUCK LIVE!,12.396320
4135,ASTERISK*,IRON-HEAD: PALESTINE,DOGMA,10.857852
4528,THA CHAMBA,KORRUPTED - REMIX,DON'T SLEEP,10.834898
2446,LOS NINOS DE SARA,ESPANA TIENE SABOR,ESPANA TIENE SABOR,12.406191
697,SEAN PAUL,BABY BOY [FEAT. BEYONCE],DUTTY ROCK,10.892555
6830,JUANES,REBELION,LA VIDA ES UN RATICO EN VIVO,12.358836
1395,BEYONC√â FEAT. SLIM THUG,CHECK ON IT,CHECK ON IT,10.823154
1808,BEYONC√â,DANGEROUSLY IN LOVE MEDLEY,THE BEYONCE EXPERIENCE LIVE AUDIO,10.820939

In [ ]:
display(sorted(total_d))