# Song recommender project #

 Garcinuño Feliciano Angela <br>
 Huima Klaara <br>
 Massot Lucas

In [1]:
import pandas as pd
import numpy as np
import build
import random
import buildEncoder

2024-06-03 19:24:49.895782: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-06-03 19:24:49.915483: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-06-03 19:24:49.915504: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-06-03 19:24:49.916129: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-06-03 19:24:49.919808: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-06-03 19:24:50.478876: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df = build.load_data('output.csv')

In [3]:
def recommend(song_list: list, df: pd.core.frame.DataFrame, k: int, distance_matrix = None):
    #print(song_list)
    playlist, indexes = build.format_input(song_list, df)
    print("input formatted")
    if isinstance(distance_matrix, type(None)):
        distances, total_d = build.compute_distance_to_playlist(playlist, indexes, df)
    else:
        print("computing distances to playlist...")
        distances, total_d = build.select_distance_to_playlist(playlist, indexes, distance_matrix)    
    print("distances computed")
    display(pd.DataFrame(distances))
    output_df = build.get_k_recommendations(total_d, k, df)
    print("received recommendations")
    display(output_df)
    return distances, total_d

In [4]:
# TEST
n = 1
#input = [[str(data.iloc[j]['title']), str(data.iloc[j]['artist_name'])] for j in random.sample(range(len(data)), n)]   # input of song titles
songs= [4292,5965,7390]
input = [[str(df.iloc[i]['title']), str(df.iloc[i]['artist_name']),str(df.iloc[i]['release'])] for i in songs]
k = 10 #number of song recomendations
# Computing complete distance matrix

display(pd.DataFrame(input))
#distance_matrix = pd.DataFrame(build.build_distances(data))
#recommend(input, data, k, distance_matrix)

print("encoder is done")
# Computing only distance to playlist
distances, total_d = recommend(input, df.copy(), k)

,0,1,2
0,Rosalita (Come Out Tonight),Bruce Springsteen,Hammersmith Odeon_ London '75
1,Working On The Highway,Bruce Springsteen,Born In The U.S.A.
2,So Lonely,The Police,So Lonely

encoder is done
input formatted
distances computed

             0         1         2
0     2.194336  2.143810  1.873875
1     2.029701  1.856281  1.868493
2     2.729186  2.747997  2.416177
3     2.299794  2.249268  2.135501
4     2.462013  2.411487  2.206592
...        ...       ...       ...
9994  2.645409  2.594883  2.337825
9995  2.553544  2.726006  2.399432
9996  3.292756  3.242230  2.959747
9997  2.778694  2.724006  2.546362
9998  2.666646  2.616120  2.427263

[9996 rows x 3 columns]

received recommendations

,artist_name,title,release,total distance
2697,JOE GRUSHECKY,FIREWATER,OUTTAKES AND DEMOS 1975 - 2003,3.221380
1849,THE POLICE,DE DO DO DO_ DE DA DA DA,MESSAGE IN A BOX,3.162872
5244,THE POLICE,MAN IN A SUITCASE,MESSAGE IN A BOX,3.104081
1678,JOE GRUSHECKY,CRACKING UNDER PRESSURE 83,OUTTAKES AND DEMOS 1975 - 2003,3.308628
9557,DANCECORE ALLSTARS,WHEN THE SUN COMES OUT,WHEN THE SUN COMES OUT,3.437839
9270,AMBIENT MUSIC THERAPY,VOICE OF ANGELS DRONE FOR SPIRITUAL WELL BEING,DRONES & TONES,3.767417
5301,TOM PETTY AND THE HEARTBREAKERS,MARY JANE'S LAST DANCE,GREATEST HITS,3.792530
150,JOE GRUSHECKY,A FOOL'S ADVICE,OUTTAKES AND DEMOS 1975 - 2003,3.651598
3569,JOE GRUSHECKY,HOW LONG,DOWN THE ROAD APIECE - LIVE,3.784612
4495,THE POLICE,KING OF PAIN,CERTIFIABLE,3.932239